[submodule "lmdb"]
	path = lmdb
	url = git@github.com:LMDB/lmdb.git
[submodule "gflags"]
	path = gflags
	url = git@github.com:gflags/gflags.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
[submodule "glog"]
	path = glog
	url = git@github.com:google/glog.git
[submodule "boost"]
	path = boost
	url = git@github.com:boostorg/boost.git
[submodule "snappy"]
	path = snappy
	url = git@github.com:google/snappy.git
[submodule "opencv"]
	path = opencv
	url = git@github.com:Itseez/opencv.git
