[submodule "lmdb"]
	path = lmdb
	url = git@github.com:LMDB/lmdb.git
[submodule "gflags"]
	path = gflags
	url = git@github.com:gflags/gflags.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
